fastapi==0.109.1
uvicorn==0.27.0
pydantic==2.9.0
google-generativeai==0.4.1
python-dotenv==1.0.1
httpx
sqlalchemy==2.0.25
sqlmodel==0.0.16
psycopg2-binary==2.9.12
python-multipart==0.0.9
pypdf==4.3.1
python-docx==1.0.1
